h1 {
  background-color: #eb01a5;
  color: white;
}

h2 {
  background-color: #10aded;
  color: white;
}

h3 {
  background-color: #0ff1c3;
  color: white;
}

h4 {
  background-color: #200;
  color: white;
}

h5 {
  background-color: #a2cad3;
  color: white;
}

h6 {
  background-color: #011;
  color: white;
}
